{{#if user}}
    <p>Hello, {{ user.username }}. View your <a href="/profile">profile</a> or <a href="/logout">logout</a>.</p>
{{else}}
	<p>Welcome! Please <a href="/login">log in</a> or <a href="/register">register</a>.</p>
{{/if}}